@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@300&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// colors
$red: #a03b4b;
$blue: #000421;
$blue-dark: #000316;
$red-to-transparent: linear-gradient($red, #a03b4ca0);
$transparent-to-red: linear-gradient(#0000, $red);

@font-face {
    font-family: 'Plotwist';
    src: url(../fonts/plotwist.ttf) format('woff2');
}

// fonts
$headings: 'Plotwist',
sans-serif;
$sub-headings: 'Staatliches';
$text: 'Poppins';
$text-condensed: 'Roboto Condensed';

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    overflow: hidden;
}

::selection {
    background-color: $red;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    font-family: $sub-headings, $text-condensed;
    background: $blue;
    color: #fff;
    font-size: 20px;
    overflow-x: hidden;
    position: relative;
}

h1,
h2 {
    font-weight: 400;
    font-family: $headings, sans-serif;

}

nav {
    position: fixed;
    background: linear-gradient($blue, #0000);
    width: 100%;
    display: flex;
    font-family: $sub-headings;
    justify-content: space-around;
    padding: 1rem 0;
    z-index: 2;

    .navbar-brand img {
        height: 100px;
        // font-family: $sub-headings;
    }

    ul {
        display: flex;
        margin-top: 1rem;
        li {
            margin: 5px 20px;
            list-style: none;
        }
    }

    .nav-link {
        position: relative;
        transition: color .1s ease-in-out;
    }

    .nav-link:hover {
        color: $red;
    }
}

a.btn {
    position: relative;

    &:after {
        content: '';
        position: absolute;
    }

    &.btn-primary {
        border: 4px solid $red;
        padding: 1rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.7rem;
        overflow: hidden;
        display: inline-block;
    }

    &.btn-primary:after {
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background: $red;
        z-index: -1;
        transition: left .2s ease-in;
    }

    &.btn-primary:hover:after {
        left: 0;
    }

    &.btn-secondary {
        padding: 3px 10px;
        border: 2px solid #fff;
        border-radius: 3px;
        transition: background .2s ease-in;
    }

    &.btn-secondary:after {
        top: 100%;
        left: 0;
        width: 0;
        height: 3px;
        background: $red;
        transition: width .1s ease-in;
    }

    &.btn-secondary:hover {
        background: $red;
    }
}



#contact {
    background: $blue-dark;
    font-family: $text-condensed;
}

footer {
    background: #000210;
    padding: 1rem;
    color: #4f4f4f;
    font-family: $text-condensed;
}
