@import 'base';

section {
    padding: 5rem 0;

    &#events h2 {
        font-size: 9rem;
        margin: 50px 0 0 0;
    }

    &#contact h2 {
        font-size: 6rem;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 4rem;
        margin: 5rem 0 1rem 0;
    }
}

#events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: 70%;

    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .card {
            position: relative;
            width: 50%;
            height: 350px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .1s ease-in-out;
            }

            .card-body {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 20px;
                transform: translateY(-70px);
                background: linear-gradient( #0000 0%, $red 40%);
                transition: background .1s ease-in-out,
                            transform .2s ease-in-out;
            }
            
            .card-title {
                font-family: 'Staatliches';
                font-weight: 400;
                font-size: 2.3rem;
            }

            .card-text {
                margin-bottom: 20px;
                font-family: $text-condensed;
            }
        }

        .card:hover {
            img {
                filter: blur(2px);
                transform: scale(1.1);

            }

            .card-body {
                background: $transparent-to-red;
                transform: translateY(-100%);
            }
        }
    }
}

@media (max-width: 1100px) and (min-width: 560px) {
    #events {
        .container {
            width: 90%;
        }
    }
}

@media (max-width: 700px) {
    nav {
        .navbar-brand {
            display: none;
        }

        ul {
            li {
                font-size: 16px;
                margin: 5px 4px;
            }
        }
    }
    #events .row .card{
        .card-body {
            transform: translateY(-60px);
        }
        .card-title {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 560px) {
    a.btn {
        &.btn-primary {
            border: 3px solid $red;
            padding: .4rem .6rem;
            margin: 1.3rem 0;
        }
    }

    section {
        &#events h2 {
            font-size: 6rem;
            margin: 50px 0 0 0;
        }

        &#contact h2 {
            font-size: 5rem;
            margin-bottom: 30px;
        }

        h3 {
            text-align: center;
            font-size: 2.3rem;
            margin: 4rem 0 1rem 0;
        }
    }

    #events {
        .container {
            width: 100%;
        }

        .row {
            .card {
                width: 75%;
                margin-bottom: 20px;

                img {
                    filter: blur(1px);
                }
            }            

            .card-body {
                background: linear-gradient(#0000, $red 80%) !important;
                transform: translateY(-100%) !important;
            }

            .card:hover img{
                background: $transparent-to-red;
                transform: scale(1);
                filter: blur(1px);
            }
        }
    }
}